/* color palette from <https://github.com/vuejs/theme> */
/* html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

#app {
  height: inherit;
  width: inherit;
} */

.full {
  width: 100%;
}

/* div {
  border: 1px solid black;
} */

textarea {
  resize: none;
  width: 100%;
}

.user-info-card {
  /*margin: 0 auto; /* Center horizontally */
  max-width: 100%; /* Set a fixed width */
  height: 50vh;
  background-color: #f8f8f8; /* Soft gray background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Slight shadow effect */
  padding: 20px; /* Padding inside the card */
  margin: 20px; /* Margin around the card */
  /* Add other CSS styles as needed */
}

.outer {
  width:100%;
  display: flex;
  justify-content: center;
}

.text-field {
  /* background: transparent;
    border: 1px solid rgba(2, green, blue, alpha); */
}

.limit {
  float: right;
  color: #9c9c9c;

}

.sidebar {
  min-width: 15%;
  background: #f5f5f5;
}

.content {
  width: 85%;
  flex: 1 0 auto;
}

.page {
  display: flex;
  height: calc(100vh - 50px);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif; /* Font family for headings */
  font-size: 20px; /* Font size for headings */
  line-height: 1.5; /* Line height for text */
  /* background: linear-gradient(#b3ffab, #67fffc); */
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  background-image: url("../../header.jpg");
  background-size: cover;
  background-position: center center;
  color: #f5f5f5;
  /* background: linear-gradient(#ffffff, #97e2ff); */
}

.canvas {
  /* border: 1px solid black;  */
  width: 100%;
  height: calc(100vh - 100px);
}

.x {
  --bs-btn-padding-y: .05rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: .5rem;
  --bs-btn-border-radius: 1rem;
}

.corner {
  margin-right: 10px;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.page-title {
  display: block;
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 2rem;
  color: #000;
}

.subtitle {
  display: block;
  margin: 0;
  font-size: .5rem;
  color: gray;
}