@import './base.css';

/* .container {
  display: flex;
  width: 100%;
  flex-direction: row;
  border: 1px solid black;
}

.container>.right {
  background: #ccf;
  flex: 1;
} */

/* .sidebar,
.content  {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
} */

/* .sidebar {
  
  flex-grow: 1;
  width: 30%;
  border: 1px solid black;
}

.content {
  flex-grow: 5;
  width: 70%;
  border: 1px solid black;
} */
/* 
.adiv {
  border: 1px solid black;
} */

